.backtxtcolor{
    text-color: rgb(0, 0, 0);
}
.navbarpos{
    float: left;
}
.navbtnbackcolor{
    background-color: rgb(251, 119, 47);
}
.fontsz30{
    font-size: 100px;
}
.mycard{
    background: #a9449f;
    padding-top: 10px;    
    padding-left: 10px;  
    padding-bottom: 10px;  
    border-radius: 3%;
}
.cardcursorArrow{
    position: "static";
    float: "right";
    margin-right:"50px",
}
.gallery {
    border: 1px solid #ccc;
  }
  
.gallery:hover {
    border: 1px solid #777;
  }
  
.gallery img {
    width: 100%;
    height: auto;
  }
  
 .desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }