$primary-color: #1d3557;
$error-color: #e63946;
$bg-color: #f1faee;
$text-color: #293241;
$color-white: #fff;
$border-radius: 4px;

.input-error {
    border-color: $error-color;
}

.error {
    color: $error-color;
    font-size: 1rem;
    margin-top: 0.3rem;
}

.disabled-btn {
    cursor: not-allowed;
    background: rgba($primary-color, 0.8);
}

